<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main/main.css">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script>$(function(){$("#header").load("/html/include/header.html");$("#footer").load("/html/include/footer.html");});</script>
  <title>제이커리어</title>
</head>
<body>
  <div id="header"></div>

  <section>

    <div class="section__first">
      <div class="section__first__set">

        <div class="section__first__wrapper">

          <div class="section__first__login">

            <a href="" class="section__first__student">
              <img src="/img/student.jpg" alt="학생로그인">
              <span>학생</span>
            </a>

            <a href="" class="section__first__company">
              <img src="/img/company.jpg" alt="">
              <span>기업</span>
            </a>

            <a href="" class="section__first__university">
              <img src="/img/university.jpg" alt="">
              <span>교직원</span>
            </a>

          </div>

        </div>

      </div>
    </div>

    <div class="section__second">
      <div class="section__second__set">
        <div class="section__second__wrapper">

          <div class="section__recommend__more">
            <a href="">채용 공고 더 보기</a>
          </div>

          <div class="section__second__recommend">

            <a href="" class="recommend__company__view">
              <img src="/img/company.jpg" alt="">
              <p>title</p>
              <span>공고명</span>
            </a>
            <a href="" class="recommend__company__view">
              <img src="/img/company.jpg" alt="">
              <p>title</p>
              <span>공고명</span>
            </a>
            <a href="" class="recommend__company__view">
              <img src="/img/company.jpg" alt="">
              <p>title</p>
              <span>공고명</span>
            </a>
            <a href="" class="recommend__company__view">
              <img src="/img/company.jpg" alt="">
              <p>title</p>
              <span>공고명</span>
            </a>
            

          </div>

        </div>
      </div>
    </div>

  </section>

  <div id="footer"></div>
</body>
</html>