<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="https://kit.fontawesome.com/580a20ac80.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/580a20ac80.js" crossorigin="anonymous"></script>
  <script>$(function(){$("#header").load("/html/include__login/header.html");$("#footer").load("/html/include/footer.html");});</script>
  <script src="/js/user/mypage.js"></script>
  <link rel="stylesheet" href="/css/user/mypage.css">
  <title>Document</title>
</head>
<body>
<div th:include="/include/stu_header"></div>

  <section>

    <div class="my__wrapper">
      <div class="my__wrapper__set">

        <!-- 왼쪽 화면 -->
        <div class="my__left">

          <div class="my__left__header"><span>마이페이지</span></div>

          <div class="my__left__body">

            <a href=""><div class="my__left__menu">My 홈</div></a>
            <a href=""><div class="my__left__menu">이력서관리</div></a>
            <a href=""><div class="my__left__menu">입사지원관리</div></a>
            <a href=""><div class="my__left__menu">회원정보수정</div></a>
            
          </div>

        </div>


        <!-- 오른쪽 화면 -->
        <div class="my__right">

          <div class="my__header"><span>현재 구인 구직 활동 상태</span></div>

          <div class="my__body">

            <div class="my__body__header">
              <div class="alarm"><span>전체</span><div class="alarm__cnt">5</div></div>
              <div class="alarm"><span>지원 내역</span><div class="alarm__cnt">5</div></div>
              <div class="alarm"><span>받은 제안</span><div class="alarm__cnt">5</div></div>
            </div>

            <div class="my__body__two">

              <div class="my__info">
                <img src="/img/default.png" alt="기본이미지">
                <span>session.id 님</span>
              </div>

              <div class="my__info2">
                <span>나의 학점 <a href=""><i class="fa-solid fa-pencil"></i></a></span>
                <div class="my__info2__detail"><span>DB.학점</span> / 4.5 만점</div>
              </div>

              <div class="my__info3">
                <span>나의 학과 <a href=""><i class="fa-solid fa-pencil"></i></a></span>
                <div class="my__info3__detail"><span>DB.학과</span></div>
              </div>

            </div>

            <div class="my__body__three">

              <div class="body__three__left">
                <div class="three__left__header"><span>지원 현황</span></div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
                <div class="three__left__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 이력서 제목</a></div>
                </div>
              </div>

              <div class="body__three__right">
                <div class="three__right__header"><span>채용 공고</span></div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
                <div class="three__right__body">
                  <div class="right__body__list"><a href="">데이터베이스내의 채용공고</a></div>
                </div>
              </div>

            </div>

            <div class="my__body__four">

              <div class="body__four__try">

                <div class="four__try__header"><span>나에게 제안한 기업</span></div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="left__body__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
                <div class="four__try__body">
                  <div class="four__try__list"><a href="">데이터베이스내의 제안 내용</a></div>
                </div>
              </div>

              </div>

            </div>

          </div>

        </div>



      </div>
    </div>

  </section>

 <div th:include="/include/footer"></div>
</body>
</html>