<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/include/header.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header__wrapper__above">

      <div class="header__above__set">

        <div class="header__above__wrapper">

          <div class="header__above__menu"><a href="">Home</a></div>
          <div class="header__above__menu"><a href="">포털</a></div>
          <div class="header__above__menu"><a href="">LMS</a></div>
          <div class="header__above__menu"><a href="">로그인</a></div>

        </div>

      </div>

    </div>

    <div class="header__wrapper__below">

      <div class="header__below__set">

        <div class="header__below__wrapper">

          <div class="header__below__left">
            <a href=""><img src="/img/LOGO.png" alt="로고이미지"></a>
          </div>

          <div class="header__below__right">
            <div class="header__below__menu">
              <div class="header__menu__item"><a href="">공지사항</a></div>
              <div class="header__menu__item"><a href="">자료실</a></div>
              <div class="header__menu__item"><a href="">취업진로상담</a></div>
              <div class="header__menu__item"><a href="">진로설계</a></div>
              <div class="header__menu__item"><a href="">역량개발</a></div>
              <div class="header__menu__item"><a href="">실전취업</a></div>
              <div class="header__menu__item"><a href="">취업정보</a></div>
              <div class="header__menu__item"><a href="">취업지원실</a></div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </header>
</body>
</html>