<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wizian1.command.JobVO">
	<insert id="regist">
		insert into JOBS( middle_content,
		middle_content_catergory,
		middle_middle_people,
		middle_middle_writer,
		middle_two_checkbox_two,
		middle_two_select,
		middle_two_content_content,
		middle_two_checkbox_one,
		middle_two_checkbox_two_two,
		middle_two_checkbox_three,
		middle_two_content_box,
		middle_two_content_box_box,
		middle_three_writer,
		middle_three_content,
		middle_three_content_email,
		middle_three_content_select,
		phone,
		document)
		values( #{middle_content},
		#{middle_content_catergory},
		#{middle_middle_people],
		#{middle_middle_writer},
		#{middle_two_checkbox_two},
		#{middle_two_select},
		#{middle_two_content_content},
		#{middle_two_checkbox_one},
		#{middle_two_checkbox_two_two},
		#{middle_two_checkbox_three},
		#{middle_two_content_box},
		#{middle_two_content_box_box},
		#{middle_three_writer},
		#{middle_three_content},
		#{middle_three_content_email},
		#{middle_three_content_select},
		#{phone},
		#{document})
	</insert>




</mapper>