<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.wizian1.student.service.StudentMapper">

	<insert id="regist">
		insert into STUDENT (stu_num,
							 stu_pw,
							 stu_name,
							 stu_bd,
							 stu_phone,
							 stu_email
							 )
		values (#{stu_num},
				#{stu_pw},
				#{stu_name},
				#{stu_bd},
				#{stu_phone},
				#{stu_email} )
	</insert>





</mapper>